:root {
  --primary-color: #feddae;
  --dark: #caab7e;
  --light: #ffffe0;
}

/* Resets */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  font-family: 'Source Sans 3', sans-serif;
}

#main-header {
  background: var(--dark);
  padding: 60px 0;
}

.container {
  margin: 0 auto;
  text-align: center;
}

#timeline ul {
  padding: 60px 0;
}

/* Line */
#timeline ul li {
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: var(--light);
}

/* Boxes */
#timeline ul li div {
  position: relative;
  width: 400px;
  padding: 16px;
  background: var(--light);
  transition: all 0.5s ease-in-out;
}

/* Right side */ 
#timeline ul li:nth-child(odd) div {
  left: 40px
}

/* Left side */ 
#timeline ul li:nth-child(even) div {
  left: -440px
}

/* Dots */
#timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 50px;
  height: 50px;
  background: var(--light);
  transform: translateX(-50%);
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}